<h2>Edit frame moods</h2>

<%= render "form.html", changeset: @changeset,
                        action: frame_moods_path(@conn, :update, @frame_moods) %>

<%= link "Back", to: frame_moods_path(@conn, :index) %>
